@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.headerText {
  font-family: 'Inconsolata';
  font-size: 1.5em;
  font-weight: bold;
}
.mainText {
  font-family: 'Space Mono';
  font-size: 1.5em;
}