.main{
    width: 100%;
    height: 33vh;
    display: flex;
    @media (max-width: 768px){
        flex-direction: column;
    }
}
// .main-image{
//     width: 50%;
//     //background-color: aqua;
//     //height: 550px; 
//     @media (max-width: 768px) {
//         width: 100%;
//     }   
// }
// .image{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }
.main-content{
    width: 100%;
    //background-color: aquamarine;
    //height: 550px;
    @media (max-width: 768px) {
        width: 100%;
        margin-left: 1em;
        margin-right: 1em;
    }
}
.title{
    width: 90%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.text{
    width: 60%;
    @media (max-width: 768px){
        width: 75%;
    }
}

