@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.title-main{
    font-family: 'Space Mono';
    font-size: 3em;
    font-weight: bold;
    @media (max-width: 768px){
        font-size: 2em;
    }
}